<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.mpelant.fitchecker"
          android:installLocation="internalOnly">

    <uses-feature
            android:name="android.hardware.telephony"
            android:required="false"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
            android:hardwareAccelerated="true"
            android:name=".App"
            android:allowBackup="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fitchecker.Styled">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Settings"/>
        <activity android:name=".activity.SettingsCompat"/>
        <activity android:name=".activity.BaseFragmentActivity"/>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <activity
                android:name=".activity.LoginActivity"
                android:label="@string/title_activity_login"
                android:windowSoftInputMode="adjustResize|stateVisible">
        </activity>


        <provider
                android:name=".db.DataProvider"
                android:authorities="${applicationId}.subjectsprovider"
                android:exported="false">
        </provider>

        <service
                android:name=".service.UpdateSubjectsService"
                android:exported="false"/>

        <service
                android:name=".service.AddFromKosService"
                android:exported="false" />

        <service
                android:name=".service.UpdateExamsService"
                android:exported="false" />

        <service
                android:name=".service.UpdateJobService"
                android:permission="android.permission.BIND_JOB_SERVICE"
                android:exported="true"/>
    </application>

</manifest>