<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cz.mpelant.fitchecker"
          android:installLocation="internalOnly">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
            android:name=".App"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:icon="@drawable/ic_launcher"
            android:allowBackup="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.DisplaySubject"/>
        <activity android:name=".activity.AddSubject"/>
        <activity android:name=".activity.Login"/>
        <activity android:name=".activity.Settings"/>
        <activity android:name=".activity.AddFromKosActivity"/>
        <activity android:name=".activity.BaseFragmentActivity"/>
        <activity android:name=".activity.ListSubjects"/>

        <service
                android:name=".service.UpdateSubjectsService"
                android:exported="false">
            <intent-filter>
                <action android:name="cz.mpelant.fitchecker.UPDATE_SUBJECTS"/>
            </intent-filter>

        </service>

        <service android:name=".UpdateService"/>

        <receiver android:name=".BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>

                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>

        <provider
                android:name=".db.DataProvider"
                android:authorities="cz.mpelant.fitchecker.subjectsprovider"
                android:exported="true">
        </provider>

    </application>

</manifest>